@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="light"] {
    --color-bkg: 238 238 238;
    --color-content: 34 40 49;
    --color-accent-1: 255 211 105;
  }
  :root[data-theme="dark"] {
    --color-bkg: 34 40 49;
    --color-content: 238 238 238;
    --color-accent-1: 255 211 105;
  }
  @media (prefers-color-scheme: dark) {
    :root[data-theme="light"] {
      --color-bkg: 238 238 238;
      --color-content: 34 40 49;
      --color-accent: 255 211 105;
    }
    :root[data-theme="dark"] {
      --color-bkg: 34 40 49;
      --color-content: 238 238 238;
      --color-accent: 255 211 105;
    }
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
